/* 
 - "a" is a direct child of 
nav ul li > a {
  color: orangered;
}

- not working...
nav ul li > a:hover + a::after {
  content: ' X ';
}
*/

header,
footer {
  border: thin solid greenyellow;
}

nav ul li a {
  font-size: 150%;
  text-decoration: none;
  color: chartreuse;
}

nav ul li a:hover {
  cursor: crosshair;
}

nav ul li a:visited {
  color: gray;
  cursor: wait;
}

nav ul li > a::after {
  content: ' | ';
  color: red;
}

nav ul li > a::before {
  content: ' |---> ';
}

section + h1 {
  color: yellow;
}

h1 {
  color: darkgreen;
}

h1[alt='meaningless'] {
  font-size: 6rem;
}

li.second-item {
  font-weight: bold;
}

p::first-letter {
  font-size: 2.5rem;
}

a[target='_blank'] {
  font-weight: 900;
  font-size: 5rem;
}

table {
  border: thick solid black;
}

td {
  border: thin solid grey;
  text-align: center;
}
